*{

    margin: 0px;
    border: 0px;
}


.navigation{
    background-color: navy;
    padding: 5px;
    margin: 0px;
    display: flex;
 
}



.header{
    color: white;
    border: 2px solid greenyellow;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding:2px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}



.header:hover{
    color: yellow;
    border: 2px solid red;
    transition: .5s;
   
}



.nav-list-all{
   
    display: flex;
    padding: 5px;
    
    
}


.nav-list-all li{
    width: auto;
    color: white;
    background-color: black;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;


}



.nav-list-all li:hover{
    background-color: rgb(18, 177, 45);
    transition: .7s;
}





.container-box{
    background-color:navy;
    color: white;
    font-size: 30px;
    padding: 25px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
    border: 5px solid  white;
    margin-bottom: 20px;
    
}





body{
    background-color: powderblue;
    font-family: sans-serif;
}